{% load static %}
<footer>
        <div class="footer">
            <div class="footer-content">
                <div class="footer-top">
                    <div class="footer-top-item">
                        <div class="footer-top-item-title">Got a question?</div>
                        <div class="footer-top-item-link"><a href="mailto:example@mail.com">example@mail.com</a></div>
                    </div>
                    <div class="footer-top-item">
                        <div class="footer-top-item-title">Customer support</div>
                        <div class="footer-top-item-link">+00 00 000 000</div>
                    </div>
                    <div class="footer-top-item">
                        <div class="footer-top-item-title">What to visit our Store</div>
                        <div class="footer-top-item-link">Location</div>
                    </div>
                </div>
                <div class="footer-line"></div>
                <div class="footer-bottom">
                    <div class="footer-social">
                        <div class="footer-social-item"><a href=""><i class="fa-brands fa-instagram"></i></a></div>
                        <div class="footer-social-item"><a href=""><i class="fa-brands fa-facebook-f"></i></a></div>
                        <div class="footer-social-item"><a href=""><i class="fa-brands fa-whatsapp"></i></a></div>
                    </div>
                    <div class="footer-links">
                        <ul>
                            <li><a href="home">Home</a></li>
                            <li><a href="{% url 'categories' %}">categories</a></li>
                            <li><a href="{% url 'all' %}">All products</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
